name: Manual basic test agent

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-pirate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Ask pirate agent about shipments
        uses: ./
        with:
          agent: agentcatalog/pirate
          prompt: "What do we ship today?"
          openai-api-key: ${{ secrets.OPENAI_API_KEY }}
